https://pythonspot.com/tag/sql/

### print version

In [1]:
import sqlite3 as lite
import sys

con = lite.connect('test.db')
cur = con.cursor()    
cur.execute('SELECT SQLITE_VERSION()')
data = cur.fetchone()
print("SQLite version: %s" % data)

SQLite version: 3.22.0

### make some data

In [3]:
import sqlite3 as lite
import sys
 
con = lite.connect('user.db')
 
with con:
 
    cur = con.cursor()    
    cur.execute("CREATE TABLE Users(Id INT, Name TEXT)")
    cur.execute("INSERT INTO Users VALUES(1,'Michelle')")
    cur.execute("INSERT INTO Users VALUES(2,'Sonya')")
    cur.execute("INSERT INTO Users VALUES(3,'Greg')")

# Read data in SQL

In [9]:
%%bash
sqlite3 user.db
.tables

Users

In [10]:
%%bash
sqlite3 user.db
.tables
Select * FROM Users;

Users
1|Michelle
2|Sonya
3|Greg

In [13]:
%%bash
sqlite3 user.db 
SELECT * FROM Users;
SELECT count(*) FROM Users;
SELECT name FROM Users;
SELECT * FROM Users WHERE id = 2;
DELETE FROM Users WHERE id = 6;

1|Michelle
2|Sonya
3|Greg
3
Michelle
Sonya
Greg
2|Sonya

# Read sql data in python

In [15]:
import sqlite3 as lite
import sys

con = lite.connect('user.db')
 
with con:    
 
    cur = con.cursor()    
    cur.execute("SELECT * FROM Users")
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)

(1, 'Michelle')
(2, 'Sonya')
(3, 'Greg')

# 2 tables

In [16]:
import sqlite3 as lite
import sys
 
con = lite.connect('system.db')
 
with con:
 
    cur = con.cursor()    
    cur.execute("CREATE TABLE Users(Id INT, Name TEXT)")
    cur.execute("INSERT INTO Users VALUES(1,'Michelle')")
    cur.execute("INSERT INTO Users VALUES(2,'Howard')")
    cur.execute("INSERT INTO Users VALUES(3,'Greg')")
 
    cur.execute("CREATE TABLE Jobs(Id INT, Uid INT, Profession TEXT)")
    cur.execute("INSERT INTO Jobs VALUES(1,1,'Scientist')")
    cur.execute("INSERT INTO Jobs VALUES(2,2,'Marketeer')")
    cur.execute("INSERT INTO Jobs VALUES(3,3,'Developer')")

In [26]:
%%bash
sqlite3 system.db
SELECT * FROM Users;
SELECT * FROM Jobs

1|Michelle
2|Howard
3|Greg
1|1|Scientist
2|2|Marketeer
3|3|Developer

In [36]:
%%bash
sqlite3 system.db 
SELECT users.name, jobs.profession FROM jobs LEFT JOIN users ON users.ID = jobs.uid

Michelle|Scientist
Howard|Marketeer
Greg|Developer

### do it in python

In [31]:
import sqlite3 as lite
import sys
 
 
con = lite.connect('system.db')
 
with con:    
 
    cur = con.cursor()    
    cur.execute("SELECT users.name, jobs.profession FROM jobs INNER JOIN users ON users.ID = jobs.uid")
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)

('Michelle', 'Scientist')
('Howard', 'Marketeer')
('Greg', 'Developer')

# sqlalchemy

In [56]:
from sqlalchemy import *
from sqlalchemy import create_engine, ForeignKey
from sqlalchemy import Column, Date, Integer, String
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship, backref
 
engine = create_engine('sqlite:///student.db', echo=False)
Base = declarative_base()
 
########################################################################
class Student(Base):
    """"""
    __tablename__ = "student"
 
    id = Column(Integer, primary_key=True)
    username = Column(String)
    firstname = Column(String)
    lastname = Column(String)
    university = Column(String)
 
    #----------------------------------------------------------------------
    def __init__(self, username, firstname, lastname, university):
        """"""
        self.username = username
        self.firstname = firstname
        self.lastname = lastname
        self.university = university

# create tables
Base.metadata.create_all(engine)

### add data to the empty sqlalchemy database created
* now using python objects

In [57]:
from sqlalchemy.orm import sessionmaker
 
# create a Session
Session = sessionmaker(bind=engine)
session = Session()
 
# Create objects  
user = Student("james","James","Boogie","MIT")
session.add(user)
 
user = Student("lara","Lara","Miami","UU")
session.add(user)
 
user = Student("eric","Eric","York","Stanford")
session.add(user)
 
# commit the record the database
session.commit()

In [58]:
%%bash
sqlite3 student.db
SELECT * FROM student

1|james|James|Boogie|MIT
2|lara|Lara|Miami|UU
3|eric|Eric|York|Stanford

### query data

In [59]:
# Create objects  
for student in session.query(Student).order_by(Student.id):
    print(student.firstname, student.lastname)

James Boogie
Lara Miami
Eric York

### query data with filter

In [60]:
# Select objects  
for student in session.query(Student).filter(Student.firstname == 'Eric'):
    print(student.firstname, student.lastname)

Eric York

# Load sql database in pandas

In [61]:
import pandas as pd
from sqlalchemy import create_engine

con = create_engine('sqlite:///burritos.db', echo=False)
df = pd.read_sql('burritos', con).set_index('index')
df.head()

/Users/scott/anaconda/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/Users/scott/anaconda/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

,Location,Burrito,Date,Cost,Hunger,Mass (g),Density (g/mL),Length,Circum,Volume,...,Fillings,Meat:filling,Uniformity,Salsa,Synergy,Wrap,overall,Rec,Reviewer,Notes
index,,,,,,,,,,,,,,,,,,,,,
0,donato's taco shop,california,1/18/2016,6.49,3.0,NaN,NaN,NaN,NaN,NaN,...,3.5,4.0,4.0,4.0,4.0,4.0,3.80,None,scott,good fries: 4/5
1,oscar's mexican food,california,1/24/2016,5.45,3.5,NaN,NaN,NaN,NaN,NaN,...,2.5,2.0,4.0,3.5,2.5,5.0,3.00,None,scott,Fries: 3/5; too little meat
2,oscar's mexican food,carnitas,1/24/2016,4.85,1.5,NaN,NaN,NaN,NaN,NaN,...,3.0,4.5,4.0,3.0,3.0,5.0,3.00,None,emily,None
3,oscar's mexican food,carne asada,1/24/2016,5.25,2.0,NaN,NaN,NaN,NaN,NaN,...,3.0,4.0,5.0,4.0,4.0,5.0,3.75,None,ricardo,Go to average burrito place like Rigoberto's i...
4,pollos maria,california,1/27/2016,6.59,4.0,NaN,NaN,NaN,NaN,NaN,...,3.5,4.5,5.0,2.5,4.5,4.0,4.20,None,scott,None